@import '../../variables.scss';

.Products {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: Products-appear 1s ease-out forwards;

  &_List {
    display: flex;
    flex-direction: column;
  }
}

@keyframes Products-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
