@import '../../variables.scss';

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  gap: 2rem;
  height: 6rem;
  background-color: $white-2;
  color: $white-1;
  display: flex;
  align-items: center;
  padding: 0 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
}