$primary-color: #282c34;
$secondary-color: #61dafb;

$white-1: #FFFFFF;
$white-2: #F7F9FB;

$button-1: #0A99C6;
$button-2: #0db5e8;
$button-3: #045068;
$button-4: #1CC4F7;
$button-5: #279DC0;

$scrool-1: #808080;
$scrool-2: #535353;

$grey-1: #555555;
$grey-2: #D3EFF8;